

body, html, #app{
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: Karla,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.wrapper{
  display: flex;
  justify-content: flex-start;
  height: 100%;
}

.sidebar{
  display: flex;
  flex-direction: column;
}

.main-content{
  display: flex;
  flex: 2;
  flex-direction: column;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid rgba(55,53,112,.1);
  align-items: center;
  max-height: 50px;
  padding-top:10px;
  padding-bottom: 10px;
}
.logo{
  padding: 20px;
  background-color: #56a07b;
  margin: 0px;
  max-height: 60px;
}
.color{
  background-color: #56a07b;
}
.content{
  display: flex;
  height: 100%;
}

.sidebar-content{
  height: 100%;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #28343d;
  color: white;
  width: 280px;
}

.sidebar-list{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.sidebar-item{
  height: 42px;
  border-bottom: 1px solid #39444c;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsla(0,0%,100%,.65);
  font-size: .8rem;
}

.tags-count{
  background: hsla(0,0%,100%,.1);
  border-radius: 100px;
  color: #fff;
  display: inline-block;
  font-size: .6rem;
  font-weight: 700;
  line-height: .6rem;
  padding: .3rem .7rem;
  pointer-events: none;
}

.tag-focused{
  background-color: hsla(0,0%,100%,.03);
  color: hsla(0,0%,100%,.85);
}

.sidebar-header{
  padding: 0 12px 0 20px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #39444c;
  color: hsla(0,0%,100%,.3);
  font-size: .7rem;
  align-items: center;
  text-transform: uppercase;
}

.sidebar-header-control{
  margin-left: auto;
  color: hsla(0,0%,100%,.3);
}

.sidebar-header-control-btn{
  border-radius: 50%;
  border: none;
  padding: .45rem;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: .6rem;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.content-sidebar-header{
  flex: 0.7;  
}

.content-sidebar{
  overflow-y: auto;
  overflow-x: hidden;
  width: 400px;
  border-right: 1px solid rgba(55,53,112,.08);
  background-color: #fafafa;
}

.content-sidebar-item{
  /*display: flex;*/
  /*flex:.7;*/
  margin-top:10px;
  border: 3px solid red;
  width: 100%;
  height: 40px;
}

.sidebar-options{
  margin:0px;
  padding:0px;
  border-bottom: 1px solid #39444c;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.65);
}

.sidebar-options li{
  font-size: .8rem;
  height: 42px;
  border-bottom: 1px solid #39444c;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}

.sidebar-options li:hover{
  background-color: hsla(0,0%,100%,.03);
  color: hsla(0,0%,100%,.85);
}

.sidebar-item:hover{
  background-color: hsla(0,0%,100%,.03);
  color: hsla(0,0%,100%,.85); 
}

.sidebar-tags-header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #39444c;
  height: 42px;
  align-items: center;
  color: rgba(255, 255, 255, 0.65);
}

.sidebar-tags-header-text{
  padding: 0 0 0 20px;
  color: hsla(0,0%,100%,.3);
  font-size: .7rem;
  align-items: center;
  text-transform: uppercase;
}

.sidebar-tags-header-options{
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.sidebar-tags-header-options div{
  padding: 10px;
  border-left: 1px solid #39444c;
  font-size: .8rem;
  cursor: pointer;
}

.sidebar-tags-header-options div:hover{
  background-color: hsla(0,0%,100%,.03);
  color: hsla(0,0%,100%,.85);
}


.content-sidebar-repos{
  margin: 0px;
  list-style-type: none;
  padding: 0px;
  width: 100%;
  border-right: 1px solid rgba(55,53,112,.1);

}

.content-sidebar-li{
  margin:0px;
  border-bottom: 1px solid rgba(55,53,112,.1);
  cursor: pointer;
  display: block;
  padding: 20px;
  background-color: #fff;
}

.content-sidebar-li:hover{
  background-color: #fcfcfc;
}

content-sidebar-li-active{
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  background: #fafafa;
}

.content-sidebar-li-h3{
  color: #56a07b;
  font-size: 1rem;
  margin: 0 0 10px;
}
.content-sidebar-li-description{
  color: #28343d;
  font-size: .8rem;
  line-height: 1.5;
}

.content-sidebar-li-active{
  background: #fafafa;
}

.content-sidebar-li-tags{
  margin: 8px 0 3px;
  padding: 0px;
  list-style-type: none;
}

.content-sidebar-li-tags li{
  background-color: #465b6b;
  display: inline-block;
  padding: 2px 8px;
  font-size: .7rem;
  color: white;
  border-radius: 50px;
  margin: 0 3px 0 0;
}


.content-sidebar-li-repo-stats{
  margin: 15px 0 0 0;
  font-size: .7rem;
  white-space: nowrap;
  color: #658399;

}

.stars {
  display: inline-block;
  margin-right: 12px;
}

.forks {
  display: inline-block;
  margin-right: 12px;
}

.link {
  display: inline-block;
  text-decoration: none;
  margin-right: 12;
}

.link a{
  color: #658399;
}


.header-search{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-search h2{
  color: #28343d;
  margin: 0 0 0 20px;
}

.header-user {
  color: #557389;
  margin-right: 40px;
  display: inline-block;
  cursor: pointer;
}

.header-settings{
  transition: color .15s linear;
  color: #658399;
  cursor: pointer;
  font-size: .9rem;
  line-height: 1;
  margin-left: 5px;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.header-form{

}

.header-status{

}


.user-avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.username {
  font-size: .9rem;
  pointer-events: none;
}

.m-right{
  margin-right: 5px;
}

.tags-form{
  background:#28343d;
  font-size:0;
  display: flex;
  justify-content: space-between;
  height: 40px;
  border-bottom: 1px solid #39444c;
}

.tags-form button{
  background-color: #56a07b;
  padding: 8px 10px;
  border: none;
  color: #fff;
  width: 20%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0;
  cursor: pointer;
}

.tags-form button:hover{
  background: #6eb18f;
}

.tags-form input{
  width: 80%;
  font-size: .75rem;
  padding-left: 12px;
  padding-right: 12px;
  background:#28343d;
  border: none;
  color: #fff;
}

.tags-form input:focus{
  background-color: #fff;
  color: #000;
}

.section{
  display: flex;
  flex: 1.4;
  color: #28343d;
  background-color: #fff;
  flex-direction: column;
}

.section-topbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 45px;
  background: #fafafa;
  border-bottom: 1px solid rgba(55,53,112,.1);
  box-shadow: 0 1px 3px rgba(55,53,112,.08);
  align-items: center;
}

.edit {
  display: flex;
  margin-left: 20px;
  align-items: center;
  justify-content: space-between;
  width: 22%; 
}

.repo-action {
  padding: 5px 5px;
  border: 1px solid rgba(55,53,112,.1);
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.edit > div > button:hover{
  box-shadow: 0 1px 1px rgba(0,0,0,.08);
  background-color: #fcfcfc;
}

.clone-repo {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  height: 100%;
}


.clone-repo-input{
  width: 80%;
  height: 60%;
}

.repo-readme {
  font-size: .9rem;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0px;
  top: 45px;
  left: 0;
  bottom: 0;
  right: 0;
  word-wrap: break-word;
  height: 100%;
}

.empty-placeholder {
  color: #658399;
  justify-content: center;
  align-items: center;
}

.max-ht {
  height: 100%;
}

.dropdown {
  top: 70px;
  right: 40px;
  border: 1px solid #eaeaef;
  position: absolute;
  min-width: 200px;
  box-shadow: 0 1px 1px rgba(0,0,0,.08);
  background-color: #fff;
}

.dropdown ul{
  list-style-type: none;
  padding: 0px;
  line-height: 1;
  margin: 12px 0px;
}

.dropdown > ul > li{
  font-size: .9rem;
  padding: 10px 20px;
  color: #666;
  cursor: pointer;
  display: block;
}

.dropdown > ul > li:hover{
  background-color: #658399;
  color: #fff;
}

.react-quill{
  height: 200px;
}



@import "quill.snow.css";