
// @import "bootstrap/_bootstrap.scss";
// @import "bootstrap/_bootstrap-compass.scss";
// @import "bootstrap/_bootstrap-mincer.scss";
// @import "bootstrap/_bootstrap-sprockets.scss";
// @import "bootstrap/bootstrap/_mixins.scss";
// @import "bootstrap/bootstrap/_glyphicons.scss";


body, html, #app{
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.b-red{
  border: 2px solid red;
}
.b-blue{
  border: 2px solid blue;
}
.b-green{
  border: 2px solid green;
}
.b-violet{
  border: 2px solid violet;
}
.b-black{
  border: 2px solid black;
}
.b-white{
  border: 2px solid white;
}

.wrapper{
  display: flex;
  justify-content: flex-start;
  height: 100%;
}

.sidebar{
  display: flex;
  // flex: .3;
  flex-direction: column;
}

.main-content{
  display: flex;
  flex: 2;
  flex-direction: column;
}

.header{
  display: flex;
  height: 60px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
}
.logo{
  width: 280px;
  height: 60px;
  background-color: #56a07b;
}
.color{
  background-color: #56a07b;
}
.content{
  display: flex;
  height: 100%;
}

.section{
  display: flex;
  flex: 1.4;
}

.sidebar-content{
  height: 100%;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #28343d;
  color: white;
  width: 280px;
}

.sidebar-item{
  /*display: flex;*/
  /*height: 5%;*/
  width: 100%;
  /*margin-top:5px;
  margin-bottom: 5px;*/
  height: 40px;
}

.sidebar-header{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.content-sidebar-header{
  /*display: flex;*/
  flex: 0.7;  
}

.content-sidebar{
  overflow-y: auto;
  overflow-x: hidden;
  width: 400px;
  /*display: flex;*/
  // flex: .3;
  /*flex-direction: column;*/
}

.content-sidebar-item{
  /*display: flex;*/
  /*flex:.7;*/
  margin-top:10px;
  border: 3px solid red;
  width: 100%;
  height: 40px;
}

.sidebar-options{
  margin:0px;
  padding:0px;
}

.sidebar-tags-header{
  display: flex;
  justify-content: space-between;
  padding:10px;
}

.sidebar-tags-header-mid{
  display: flex;
  justify-content: space-between;
}

.content-sidebar-li{
  margin:0px;
  border: 2px solid black;
  border-bottom: 1px solid rgba(55,53,112,.1);
  cursor: pointer;
  display: block;
  padding: 20px;
}

.content-sidebar-ul{
  margin: 0px;
  list-style-type: none;
  padding: 0px;
  max-height: 100px;
}

.header-item-search{
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.header-item-user {
  color: #557389;
  margin-right: 40px;
  display: inline-block;
  padding: 10px;
}
.user-avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}